<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587579990998-gg7mkn03un1rus0epc2ogt94bcgbcu6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587579990998-gg7mkn03un1rus0epc2ogt94bcgbcu6e</string>
	<key>API_KEY</key>
	<string>AIzaSyBbeqsFpWBzAfc2OyXaR7zBEIbBoEL_5mY</string>
	<key>GCM_SENDER_ID</key>
	<string>587579990998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.ssru.doctorCom</string>
	<key>PROJECT_ID</key>
	<string>doctorcom-6e156</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorcom-6e156.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587579990998:ios:b946a050f426344554ba77</string>
	<key>DATABASE_URL</key>
	<string>https://doctorcom-6e156.firebaseio.com</string>
</dict>
</plist>